body {
  box-sizing: border-box;
  background-color: #030303;
}

img {
  display: block;
}

.welcome_animation {
  min-width: 375px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #EEE;
  color: #FFF;
  overflow: hidden;
}

.screen {
  position: relative;
  height: 100%;
}

.image_wrapper {
  position: absolute;
  z-index: 1;
  opacity: 0;
  /* opacity: 1; */
}

/* 動作確認用 */
.static .image_wrapper {
  opacity: 1;
}

.image_wrapper img {
  width: 100%;
}

.background-wrapper {
  /* TODO: フルパスに変更する */
  background-image: url(../images/scene1/background.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.background-line-wrapper {
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 2;
}

.background-line-wrapper img {
  width: auto;
  height: 30vw;
  max-height: 134px;
}

.phrase-wrapper {
  top: 3%;
  left: 0;
  padding: 0 2%;
  width: calc(100vw - 4%);
}

/* TODO: 変更なかったら消す */
.phrase-wrapper img {
  width: 100%;
}

.phrase-wrapper .technology-image {
  display: none;
}

.mv-todaka-wrapper {
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(1);
}

.mv-todaka-wrapper .mv-todaka-desktop-image {
  display: none;
}

.mv-todaka-wrapper .mv-todaka-mobile-image {
  width: 115%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.philosphy-wrapper {
  left: 0;
  bottom: 12%;
  padding: 0 2%;
  width: calc(100vw - 4%);
}

.philosphy-wrappe-title {
  width: 33%;
  padding: 0 .5rem;
  margin-bottom: .5rem;
}

.philosphy-wrappe-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.philosphy-wrappe-contents img {
  height: 17vw;
  width: auto;
}

@media screen and (min-width: 500px) and ( max-width: 768px) {
  .mv-todaka-wrapper .mv-todaka-mobile-image {
    width: 120%;
    position: initial;
    bottom: initial;
  }

  .philosphy-wrappe-title img {
    width: 60%;
  }

  .philosphy-wrappe-contents {
    flex-direction: row;
    width: 100%;
  }

  .philosphy-wrappe-contents img {
    height: 9vw;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1366px) {
  .mv-todaka-wrapper .mv-todaka-mobile-image {
    display: none;
  }

  .mv-todaka-wrapper .mv-todaka-desktop-image {
    display: block;
    object-fit: cover;
    width: 150vw;
    position: absolute;
    bottom: 0;
    left: -10%;
  }

  .background-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .background-line-wrapper {
    top: 50%;
    left: 0;
    bottom: inherit;
    transform: translateY(-50%) translateX(0);
    width: 90vw;
    z-index: 1;
  }

  .background-line-wrapper img {
    width: 120%;
    height: auto;
    max-height: inherit;
  }

  .phrase-wrapper {
    top: 5%;
    display: flex;
    justify-content: center;
    max-height: 300px;
  }

  .phrase-wrapper img {
    padding: 0 2rem;
    width: 45%;
  }

  .phrase-wrapper .technology-image {
    display: block;
  }

  .mv-todaka-wrapper {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
  }

  .philosphy-wrapper {
    max-height: 210px;
    padding: 0 5%;
    width: calc(100vw - 10%);
  }

  .philosphy-wrappe-title img {
    width: 50%;
  }

  .philosphy-wrappe-contents {
    flex-direction: row;
    width: 100%;
  }

  .philosphy-wrappe-contents img {
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .mv-todaka-wrapper .mv-todaka-mobile-image {
    display: none;
  }

  .mv-todaka-wrapper .mv-todaka-desktop-image {
    display: block;
    object-fit: cover;
  }

  .background-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .background-line-wrapper {
    top: 50%;
    left: 0;
    bottom: inherit;
    transform: translateY(-50%) translateX(0);
    width: 90vw;
    z-index: 1;
  }

  .background-line-wrapper img {
    width: 120%;
    height: auto;
    max-height: inherit;
  }

  .phrase-wrapper {
    top: 5%;
    display: flex;
    justify-content: center;
    max-height: 300px;
  }

  .phrase-wrapper img {
    height: 100%;
    padding: 0 8rem;
  }

  .phrase-wrapper .technology-image {
    display: block;
  }

  .mv-todaka-wrapper {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
  }

  .mv-todaka-wrapper img {
    height: 100%;
  }

  .philosphy-wrapper {
    max-height: 210px;
    padding: 0 13%;
    width: calc(100vw - 26%);
  }

  .philosphy-wrappe-title img {
    width: auto;
  }

  .philosphy-wrappe-contents {
    flex-direction: row;
    width: 100%;
  }

  .philosphy-wrappe-contents img {
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and ( max-width: 986px) {
  .phrase-wrapper {
    flex-direction: column;
    max-height: initial;
  }

  .phrase-wrapper img {
    width: 60vw;
    padding: 0;
  }

  .phrase-wrapper .technology-image {
    margin-top: 1rem;
    margin-left: auto;
  }
}