body {
  box-sizing: border-box;
  background-color: #030303;
  color: #fff;
}

body.no-scroll {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
}

img {
  display: block;
}

.welcome_animation {
  min-width: 375px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #EEE;
  color: #FFF;
  overflow: hidden;
  background-color: #030303;
}

.screen {
  position: relative;
  height: 100svh;
}

.image_wrapper {
  position: absolute;
  z-index: 1;
  opacity: 0;
  /* opacity: 1; */
}

/* 動作確認用 */
.static .image_wrapper {
  opacity: 1;
}

.image_wrapper img {
  width: 100%;
}

.background-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
}

#screen1 .background-wrapper {
  /* TODO: フルパスに変更する */
  background-image: url(../images/screen1/background.png);
}

#screen2 .background-wrapper {
  /* TODO: フルパスに変更する */
  background-image: url(../images/screen2/background-sp.png);
}

#screen3 .background-wrapper {
  /* TODO: フルパスに変更する */
  background-image: url(../images/screen3/background-sp.png);
}

#screen4 .background-wrapper {
  /* TODO: フルパスに変更する */
  background-image: url(../images/screen4/background-sp.png);
}

.phrase-wrapper {
  top: 3%;
  left: 0;
  padding: 0 2%;
  width: calc(100vw - 4%);
}

#screen2 .phrase-wrapper {
  right: 0;
  left: auto;
}

/* TODO: 変更なかったら消す */
.phrase-wrapper img {
  width: 100%;
}

#screen4 .phrase-wrapper img {
  width: 300%;
}

.phrase-wrapper .technology-image {
  display: none;
}

.mv-todaka-wrapper,
.mv-nakajima-wrapper,
.mv-katsuno-wrapper,
.mv-3-people-wrapper {
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.mv-todaka-wrapper .mv-todaka-desktop-image,
.mv-nakajima-wrapper .mv-nakajima-desktop-image,
.mv-katsuno-wrapper .mv-katsuno-desktop-image,
.mv-3-people-wrapper .mv-3-people-desktop-image {
  display: none;
}

.mv-todaka-wrapper .mv-todaka-mobile-image,
.mv-nakajima-wrapper .mv-nakajima-mobile-image,
.mv-katsuno-wrapper .mv-katsuno-mobile-image,
.mv-3-people-wrapper .mv-3-people-mobile-image {
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.philosphy-wrapper {
  bottom: 5%;
  padding: 0 2%;
  width: calc(100vw - 4%);
}

#screen1 .philosphy-wrapper,
#screen3 .philosphy-wrapper {
  left: 0;
}

#screen2 .philosphy-wrapper {
  right: 0;
}

#screen4 .philosphy-wrapper {
  bottom: 1%;
}

.philosphy-wrapper-title {
  width: 25%;
  padding: 0 .5rem;
  margin-bottom: .5rem;
}

#screen4 .philosphy-wrapper-sub-title {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
  margin-bottom: -1%;
}

#screen4 .philosphy-wrapper-sub-title img {
  width: 60%;
}

.philosphy-wrapper-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.philosphy-wrapper-contents img {
  height: 15vw;
  width: auto;
}

#screen4 .philosphy-wrapper-contents img {
  height: 25vw;
  width: auto;
}

#screen4 .philosphy-wrapper-first-line {
  margin-bottom: -5%;
}

#screen4 .philosphy-wrapper-second-line {
  margin-left: auto;
}

@media screen and (min-width: 500px) and ( max-width: 768px) {
  .mv-todaka-wrapper .mv-todaka-mobile-image,
  .mv-nakajima-wrapper .mv-nakajima-mobile-image,
  .mv-katsuno-wrapper .mv-katsuno-mobile-image,
  .mv-3-people-wrapper .mv-3-people-mobile-image {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .philosphy-wrapper-title img {
    width: 60%;
  }

  .philosphy-wrapper-contents {
    flex-direction: row;
    width: 100%;
  }

  .philosphy-wrapper-contents img {
    height: 9vw;
  }

  #screen4 .philosphy-wrapper-contents img {
    height: 15vw;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1366px) {
  #screen2 .background-wrapper {
    /* TODO: フルパスに変更する */
    background-image: url(../images/screen2/background.png);
  }

  #screen3 .background-wrapper {
    /* TODO: フルパスに変更する */
    background-image: url(../images/screen3/background.png);
  }

  #screen4 .background-wrapper {
    /* TODO: フルパスに変更する */
    background-image: url(../images/screen4/background.png);
  }

  .mv-todaka-wrapper .mv-todaka-mobile-image,
  .mv-nakajima-wrapper .mv-nakajima-mobile-image,
  .mv-katsuno-wrapper .mv-katsuno-mobile-image,
  .mv-3-people-wrapper .mv-3-people-mobile-image {
    display: none;
  }

  .mv-todaka-wrapper .mv-todaka-desktop-image,
  .mv-nakajima-wrapper .mv-nakajima-desktop-image,
  .mv-katsuno-wrapper .mv-katsuno-desktop-image,
  .mv-3-people-wrapper .mv-3-people-desktop-image {
    display: block;
    object-fit: cover;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .background-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .phrase-wrapper {
    top: 5%;
    display: flex;
    justify-content: center;
    max-height: 300px;
  }

  .phrase-wrapper img {
    padding: 0 2rem;
    width: 45%;
  }

  #screen4 .phrase-wrapper img {
    width: 100%;
  }

  .phrase-wrapper .technology-image {
    display: block;
  }

  .mv-todaka-wrapper,
  .mv-nakajima-wrapper,
  .mv-katsuno-wrapper,
  .mv-3-people-wrapper {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
  }

  .philosphy-wrapper {
    max-height: 210px;
    padding: 0 5%;
    width: calc(100vw - 10%);
  }

  #screen4 .philosphy-wrapper {
    max-height: initial;
    bottom: 2%;
  }

  #screen4 .philosphy-wrapper-sub-title {
    margin-bottom: -1%;
  }

  #screen4 .philosphy-wrapper-sub-title img {
    width: 25%;
  }

  .philosphy-wrapper-title img {
    width: 50%;
  }

  .philosphy-wrapper-contents {
    flex-direction: row;
    width: 100%;
  }

  .philosphy-wrapper-contents img,
  #screen4 .philosphy-wrapper-contents img {
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  #screen2 .background-wrapper {
    /* TODO: フルパスに変更する */
    background-image: url(../images/screen2/background.png);
  }
  
  #screen3 .background-wrapper {
    /* TODO: フルパスに変更する */
    background-image: url(../images/screen3/background.png);
  }

  #screen4 .background-wrapper {
    /* TODO: フルパスに変更する */
    background-image: url(../images/screen4/background.png);
  }

  .mv-todaka-wrapper .mv-todaka-mobile-image,
  .mv-nakajima-wrapper .mv-nakajima-mobile-image,
  .mv-katsuno-wrapper .mv-katsuno-mobile-image,
  .mv-3-people-wrapper .mv-3-people-mobile-image {
    display: none;
  }

  .mv-todaka-wrapper .mv-todaka-desktop-image,
  .mv-nakajima-wrapper .mv-nakajima-desktop-image,
  .mv-katsuno-wrapper .mv-katsuno-desktop-image,
  .mv-3-people-wrapper .mv-3-people-desktop-image {
    display: block;
    object-fit: cover;
  }

  .background-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .phrase-wrapper {
    top: 5%;
    display: flex;
    justify-content: center;
    max-height: 300px;
  }

  #screen2 .phrase-wrapper {
    right: -20%;
    left: auto;
  }

  #screen3 .phrase-wrapper {
    left: -20%;
  }

  #screen1 .phrase-wrapper img {
    height: 100%;
    padding: 0 8rem;
  }

  #screen2 .phrase-wrapper img,
  #screen3 .phrase-wrapper img {
    height: auto;
    width: auto;
  }

  #screen4 .phrase-wrapper img {
    width: 100%;
  }

  .phrase-wrapper .technology-image {
    display: block;
  }

  .mv-todaka-wrapper,
  .mv-nakajima-wrapper,
  .mv-katsuno-wrapper,
  .mv-3-people-wrapper {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
  }

  .mv-todaka-wrapper img,
  .mv-nakajima-wrapper img,
  .mv-katsuno-wrapper img,
  .mv-3-people-wrapper img {
    height: 100%;
  }

  .philosphy-wrapper {
    max-height: 210px;
    bottom: 2%;
  }
  
  #screen1 .philosphy-wrapper,
  #screen2 .philosphy-wrapper {
    padding: 0 13%;
    width: calc(100vw - 26%);
  }
  
  #screen3 .philosphy-wrapper {
    padding: 0 7.5%;
    width: calc(100vw - 15%);
  }
  
  #screen4 .philosphy-wrapper {
    max-height: initial;
    bottom: 2%;
  }

  .philosphy-wrapper-title img {
    width: auto;
  }

  #screen4 .philosphy-wrapper-sub-title {
    margin-bottom: -1%;
  }

  #screen4 .philosphy-wrapper-sub-title img {
    width: 25%;
  }

  .philosphy-wrapper-contents {
    flex-direction: row;
    width: 100%;
  }

  #screen4 .philosphy-wrapper-contents {
    justify-content: center;
  }

  #screen4 .philosphy-wrapper-contents > div {
    padding: 0 1rem;
    margin: 0;
  }

  .philosphy-wrapper-contents img,
  #screen4 .philosphy-wrapper-contents img {
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and ( max-width: 986px) {
  .phrase-wrapper {
    flex-direction: column;
    max-height: initial;
  }

  .phrase-wrapper img {
    width: 60vw;
    padding: 0;
  }

  .phrase-wrapper .technology-image {
    margin-top: 1rem;
    margin-left: auto;
  }
}